.btn {
    -fx-border-color: rgba(0, 0, 0, 0);
    -fx-background-color: rgba(0, 0, 0, 0);
}
.btn:hover {
    -fx-border-color: #F2A5A0;
    -fx-border-width: 0px 0px 3px 0px;
}

.bar {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.green_bar {
    -fx-background-color: #5DA67B;
}

#Outground {
    -fx-background-color: #64B385;
}

#background {
    -fx-background-color: #ffffff;
}

.diaryFont {
    -fx-font-family: "EF_Diary";
}

.KyoboFont_12 {
    -fx-font-family: "KyoboHandwriting2020A", "KyoboHandwriting2020pdy";
    -fx-font-size: 12;
}

#starting {
    -fx-background-image: url("images/background_salad.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}